*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   
    background: url(image/cathryn-lavery-fMD_Cru6OTk-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
   
}
.head{
    background-color: orange;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 10px;
}
.head h1{
    color: rgb(36, 31, 31);
    text-transform: uppercase;
    font-size: 1.9rem;
    font-weight: 700;
}
.container{
    width: 55vw;
    height: 350px;
    border: 1px solid rgb(173, 168, 168);
    margin: 10px auto;
    padding: 0px 20px;
    position: relative;
    background:  rgba(216, 140, 0,.2);
    border-radius: 6px;
    box-shadow: 1px 1px 2px rgb(44, 38, 38);
}
.container h1{
    margin-top: 10px;
    text-transform: uppercase;
    word-spacing: 10px;
    text-align: center;
    animation: fun 4s infinite alternate;
}
.area{
     width: 58%;
     margin: 40px auto;
}

textarea{
    width: 100%;
    height: 200px;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 5px;
    resize: none;
}
textarea:focus{
   
    border: 1px solid rgb(126, 126, 221);
    outline: none;
}
.btn{
    padding: 5px;
    position: absolute;
    bottom: 40px;
    left: 20px;
    width: 100px;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 1.2rem;
   
   
}
.btn:hover{
    color: white;
    background-color: rgb(65, 77, 185);   
}
 .main{
    max-width: 90vw;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0px 90px;
}
.box{
    position: relative;
    width: 250px;
    height: 200px;
    border: 2px solid rgba(165, 158, 158,.8);
    background-color: rgba(216, 140, 0,.2);
    border-radius: 8px;
    padding: 10px;
    font-size: 20px;
    font-weight: 500;

}
.btn2{
    position: absolute;
    width: 80px;
    font-size: 14px;
    font-weight: 600;
    bottom: 10px;
    left: 15px;
    box-shadow: 1px 1px 2px rgb(44, 38, 38);;
}
h2,h4{
    font-size: 25px;
    color: rgb(2, 1, 1);
    background:orange;
    border-radius: 5px;
    padding: 2px 8px;
    margin-bottom: 5px;
}
 
@keyframes fun{
         0%{ color: rgb(212, 50, 0);}
         10%{color: rgb(10, 96, 177);}
         20%{color: rgb(53, 7, 7);}
         35%{color: rgb(26, 7, 199);}
         55%{ color: rgb(1, 0, 2);}
         75%{ color: rgb(69, 2, 75);}
         100%{color: rgb(182, 17, 17);}
}
       @media screen and (max-width:1063px) {
        .box {
            width: 230px;
            margin: 2px;
        }
    
        .add {
            width: 70px;
            height: 27px;
            font-size: 13px;
            font-weight: 600;
        }
    }
    
        @media screen and (max-width:1003px) {
            .container h1 {
                font-size: 1.6rem;
            }
    
            .add {
                width: 70px;
                height: 27px;
                font-size: 13px;
                font-weight: 700;
    
            }
    
            .main {
                max-width: 85vw;
                padding: 0px 10px;
            }
    
            .area {
                width: 80%;
                height: 180px;
            }
    
            .btn {
                bottom: 18px;
            }
    
            textarea {
                width: 100%;
                height: 100%;
            }
        }
    
        @media screen and (max-width:942px){
            .main{
                width: 80vw;
                padding: 0px 5px;
            }
                        .box{
                            width: 45%;
                            height: 150px;
                        }
                        .btn2{
                                    bottom: 5px;
                                    width: 60px;
                                    height: 27px;
                                    font-size: 10px;
                        }
    
    
        }
    
        @media screen and (max-width:750px) {
            .area{
                margin-top: 14px;
            }
            .head h1{
                text-align: center;
            }
            .container{
                width: 70vw;
            }
        }
        @media screen and (max-width:526px){
    
             .box{
                 width: 100%;
             }
             .container{
                 width: 70vw;
             }
             .container h1{
                font-size: 22px;
            }
        }
    
        @media screen and (max-width:424px){
            .head h1{
                font-size: 1.4rem;
            }
            .container{
                width: 80vw;
                height: 350px;
            }
              .container h1{
                  font-size: 20px;
              }
              .main{
                  max-width: 70vw;
              }
              
        }
             
